:root {
  --laranja: #D1451E;
  --coral: #F0633C;
  --coral-claro: #FFDBD1;
  --verde: #5EB14E;
  --verde-escuro: #263A29;
  --cinza: #444444;
  --cinza-claro: #EFEFEF;
  --branco: #FFF;
}

* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url('./assets/fundo-banner.png'), var(--verde-escuro, #263A29);
}

h1 {
  font-size: 48px;
  text-align: center;
  color: var(--laranja);
}