.container-baldes {
  width: 450px;
  height: auto;
  border-radius: 6px;
  background: var(--cinza-claro);
  display: flex;
  gap: 10px;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: center;

  p {
    font-size: 18px;
  }

  div {
    color: var(--branco);
    background-color: var(--cinza);
    height: auto;
    width: 200px;
    padding: 8px;
    font-size: 16px;

    h3 {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
    }
    
    .lista-de-balde {

      width: 100%;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        background-color: var(--branco);
        color: var(--preto);
        height: 40px;
        width: 100%;
        padding: 4px;
        border-radius: 6px;

        .button-excluir-fruta {
          color: var(--preto);
  
        }
      }
    }
  }
}